<form 
  class="subscribe-form"
  action="https://feedburner.google.com/fb/a/mailverify" 
  method="post" 
  target="popupwindow" 
  onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=ricoyfeliz', 'popupwindow', 'scrollbars=yes,width=550,height=520');  
  return true">

  <p><input type="text" name="email" placeholder="ejemplo@gmail.com"/></p>

  <input type="hidden" value="ricoyfeliz" name="uri"/>

  <input type="hidden" name="loc" value="es_ES"/>

  <button type="submit"><i class="fa fa-send"></i> Suscríbeme</button>
</form>
