---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>


	<div class="post-intro">
		{{ page.intro }}
	</div> <!-- .intro -->

  <p>— <em>Por </em> <a class="post-author" href="http://twitter.com/{{ page.twitter }}">{{ page.author }}</a> <em>publicado en</em> <time datetime="{{ page.date | date_to_xmlschema }}" class="page-date">{{ page.date | date: "%d/%m/%y" }}</time></p>

  <p class="tags">
  <em> 
    Categoría(s):
    {% if page.tags.size > 2 %}
      {% for tag in page.tag %}
        {% if forloop.first %}
        <span class="tag">{{ tag }}, </span>
        {% elsif forloop.last %}
        y <span class="tag">{{ tag }}</span>
        {% else %}
        <span class="tag">{{ tag }} </span>
        {% endif %}
      {% endfor %}
    {% elsif page.tags.size == 2 %}
      {% for tag in page.tag %}
        {% if forloop.first %}
        <span class="tag">{{ tag }} </span>
        {% elsif forloop.last %}
        y <span class="tag">{{ tag }}</span>
        {% endif %}
      {% endfor %}
    {% else %}
      <span class="tag">{{ page.tag }}</span>
    {% endif %}
  </em>

  </p>

	<hr>

  {% include tweet.html %}

  {{ content }}

  {% include tweet.html %}

  <hr>

  <div class="twitter-follow-block">
    <h4>Sigue Rico y Feliz en Twitter</h4>
    {% include follow.html %}
    <p><strong>O recibe cada nuevo post directo en tu correo</strong></p>
    {% include email_subscription.html %}
  </div> <!-- .twitter-follow-block -->
</article>

{% include disqus.html %}

<aside class="related">
  <h2>Posts Relacionados</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d/%m/%y" }}</time></small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</aside>
